@tailwind utilities;

@layer utilities {
  .background-white-important {
    background: #fff !important;
  }
  .w-full-2rem {
    width: calc(100% - 2rem);
  }
  .block-lg {
    @apply mb-8 mt-0;
  }
  .title {
    @apply text-center font-extrabold text-light-font-title dark:text-dark-font-title text-2xl lg:text-3xl;
  }
  .subtitle {
    @apply font-extrabold text-xl text-light-font-title dark:text-dark-font-title lg:text-2xl;
  }
  .block-main {
    @apply grid ml-auto mr-auto max-w-6xl w-full-2rem xl:w-full;
  }
  .t3 {
    @apply font-bold text-lg;
  }
  .min-h-screen-with-topbar {
    min-height: calc(100vh - var(--height-header));
  }
}

[type="search"]:not(:placeholder-shown) {
  @apply background-white-important dark:bg-dm-dark-accent !important;
}

body {
  margin-top: var(--height-header);
  font-family: 'Montserrat', sans-serif;
  @apply relative min-h-screen-with-topbar text-light-font bg-light-background dark:text-dark-font dark:bg-dm-dark flex flex-col;
}

body::-webkit-scrollbar {
  @apply block w-2.5 h-2;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-500 rounded;
}

body::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-400 rounded;
}

/* ----- Overrides ---- */

.link {
  @apply text-blue-600 font-medium hover:underline;
}

.button-social {
  @apply py-2 rounded cursor-pointer font-bold text-sm md:text-base;
}

.button-fb {
  background-color: #1877f2;
  color: white;
}

.button-fb:hover {
  background-color: #166fe5;
}

.button-gg {
  background-color: #f1f1f1;
}

.button-gg:hover {
  background-color: #eee;
}

.input-form {
  @apply w-full mb-3;
}

/* Buttons */

/* ---------- Default styles --------- */
.button {
  @apply rounded cursor-pointer transition-colors font-semibold;
}

/* ------------ sizes styles ---------- */
.button-sm {
  @apply px-3 py-2 text-xs;
}

.button-md {
  @apply px-3 py-2 text-sm;
}

.button-lg {
  @apply px-5 py-2;
}

.button-block {
  @apply w-full py-2 text-center block;
}

/* ------------ variant styles --------- */

.button-default {
  @apply bg-gray-300 hover:bg-gray-400;
}

.button-outline {
  @apply border border-gray-300 hover:bg-gray-400 hover:border-gray-400;
}

.button-success,
.button-danger,
.button-info,
.button-primary,
.button-warning {
  color: #fff;
}

.button-outline-danger,
.button-outline-info,
.button-outline-primary,
.button-outline-success,
.button-outline-warning {
  @apply hover:text-white;
}

/* ---- variant success ---- */
.button-success {
  @apply bg-green-500 hover:bg-green-600;
}
.button-outline-success {
  @apply border border-green-500 hover:bg-green-600 hover:border-gray-600 text-green-500;
}

/* ----  variant danger  ----- */
.button-danger {
  @apply bg-red-500 hover:bg-red-600;
}

.button-outline-danger {
  @apply border border-red-500 hover:bg-red-600 hover:border-red-600 text-red-500;
}

/* ------- variant info ------ */
.button-info {
  @apply bg-purple-600 hover:bg-purple-700;
}
.button-outline-info {
  @apply border border-purple-600 hover:bg-purple-700 hover:border-purple-700 text-purple-600;
}

/* --- variant primary  ----- */
.button-primary {
  @apply bg-blue-600 hover:bg-blue-700;
}
.button-outline-primary {
  @apply border border-blue-600 hover:border-blue-600 hover:bg-blue-600 text-blue-600;
}

/* ---- variant warning ----- */
.button-warning {
  @apply bg-yellow-500 hover:bg-yellow-600;
}

.button-outline-warning {
  @apply border border-yellow-500 hover:bg-yellow-600 hover:bg-yellow-600 text-yellow-500;
}
